@import "tailwindcss";


@theme {
  --font-inter: "Inter", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020410; /* Deep blue/black from design */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  background-image: radial-gradient(circle at 50% 0%, #1a2040 0%, #020410 60%);
  min-height: 100vh;
}
